#trainings-list {
    text-align: center;
    font-size: 2em;
    padding-top: 3vh;
    padding-bottom: 3vh;

}

/* .go-map {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    margin: 2vh auto;
} */

.links-trainings-pages {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    margin: 2vh auto;
}



.header-all-trainings {
    margin-left: 4%;
}

.filter-bar div {
    display: flex;
    margin-right: 2%;
    margin-bottom: 2vh;
}



.filter-bar select {
    border: none;
    display: block;
    width: 100px;
}


.filter-bar p {
    margin-right: 1%;
}

.trainings-list {
    width: calc(100% - 20px);
    /* height: 100vh; */
    overflow-y: scroll;
    padding: 2%;
}



.all-trainings-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 3vh;
    margin: 2vh auto;

}

.height {
    height: 60vh;
}

.one-training-card {
    height: 32vh;
    margin-bottom: 3vh;
}

.one-training-card h4 {
    margin: 1vh;
    font-family: "Days one";
    color: var(--orange);
    text-align: center;
}

.one-training-card span {
    font-weight: 400;
}

.one-training-card span {
    font-weight: 400;
}

.right {
    float: right;
}

.orange {
    color: var(--orange);
}

.image-container {
    height: 80%;
}

.one-training-card img {
    width: 100%;
    height: 100%;
    border: 10px solid var(--golden);
    border-radius: 10px;
}


#map-trainings {
    width: 100vw;
    height: 100vh;
}

@media(min-width:900px) {
    .all-trainings-cards {
        /* display: grid;
        grid-template-columns: repeat(4, 1fr);
        */
        margin: 2vh 3%;
    }

    #trainings-list {
        text-align: center;
        font-size: 4em;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .filter-bar {
        display: flex;
    }

}