.dashboard-all-pages {
    background-color: var(--darkBlue);
    height: 75vh;
    overflow-y: scroll;
    width: 70vw;
}

.onDashboard {
    cursor: initial;
}

.all-missions-cards.onDashboard {
    overflow-y: unset;
}

.Dashboard {
    display: flex;
}

.dashboard-nav {
    margin-bottom: 2%;
    display: flex;
    margin: 0 30vw 0 25vw;
}

.vehicule-picture.onDashboard {
    height: 8vw;
    width: 8vw;
    margin-top: 0;
    margin-bottom: 0;
}

.dashboard-nav button {
    background-color: rgba(6, 32, 36, 0.5);
    border: none;
    height: 5vh;
    width: 7vw;
    min-width: fit-content;
    color: var(--almostWhite);
    font-family: 'Days One',
        sans-serif;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    margin-right: 1%;
}

.dashboard-nav button:focus {
    color: var(--blue);
    outline: none;
    background-color: var(--darkBlue);
}

.dashboard-nav li {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.avatar-container {
    height: 55vh;
    width: 25vw;
    text-align: center;
    position: relative;
    padding-top: 20px;
}

/* .info-container {
    background-color: var(--golden);
    width: ;
} */

.avatar-container p {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1vw;
}


.alias-dashboard {
    position: absolute;
    font-size: 3em;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    top: -7%;
    color: var(--orange);
}

.avatar-container img {
    height: 100%;
    border: 10px solid var(--darkBlue);
    border-radius: 10px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 0.6)
}

.buttons {
    margin: 0 auto;

}

.buttons button {
    font-size: 1em;
    width: fit-content;

}

.update-button {
    margin-right: 1vw !important
}

.delete-button {
    margin-left: 1vw !important;
    background-color: var(--fail) !important
}

.title-dashboard {
    margin-left: 2vw;
    margin-top: 2vh;
    color: var(--orange);
}

.too-poor {
    margin-top: 1vh;
    font-weight: 400;
    color: var(--fail)
}