@import "../pages/Home/Home.css";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Days+One&display=swap');

:root {
    --veryDarkBlue: #01101F;
    --darkBlue: #0F232E;
    --blue: #3F9798;
    --almostWhite: #FBFBFB;
    --orange: #EA8A4D;
    --golden:#E2D397;
    --success: #A8DC6D;
    --fail: #AF261B;
};

