.round-menu {
    position: absolute;
    background: radial-gradient(circle at center, var(--veryDarkBlue) 0, var(--darkBlue)70%, var(--blue)100%);
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.round-menu a {
    color: var(--almostWhite);
    text-decoration: none;
    font-family: 'Days One',
        sans-serif;
    font-size: 3em;
}

.round-menu a:hover {
    color: var(--blue);
}

.choice-title {
    width: fit-content;
    margin: 0 auto;
    color: var(--orange);
    font-size: 3em;
}