.choice-title {
    width: fit-content;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: var(--almostWhite);
    font-size: 3em;
    margin-bottom: 5%;
}

/* .working-or-training {
    height: 80vh;
} */

.working,
.training {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    width: 90%;
    margin: 2%;
    border: 15px solid var(--golden);
    border-radius: 2px;
    position: relative;
}

.working {
    background-image: url("/media/images/work.jpg");
}

.training {
    background-image: url("/media/images/training.jpeg");
}

.container-link {
    position: absolute;
    bottom: -10px;
    padding-top: 10px;
    left: 25%;
    background-color: var(--golden);
    height: 10%;
    width: 50%;
    border-radius: 10px;
    text-align: center;
}

.container-link a {
    color: var(--veryDarkBlue);
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Days One";
}

.container-link a:hover {
    color: var(--blue);
}

@media(min-width :1200px) {
    .working-or-training {
        display: flex;
    }

    .choice-title {
        font-size: 4em;
        margin-bottom: 1%;
    }

    .working,
    .training {
        width: 45%;
    }

    .container-link {
        position: absolute;
        bottom: -1.7%;
        padding-top: 10px;
    }

    .container-link a {

        font-size: 2em;


    }


}