.right {
    float: right;
}

.missions-list {
    width: calc(100% - 20px);
    height: 100vh;
    overflow-y: scroll;
}

.missions-list a,
#map a {
    text-decoration: none;
    color: var(--almostWhite);
}

.one-mission-card {
    width: 20vw;
}

.one-mission-card img {
    max-width: 100%;
}


#map {
    width: 100vw;
    height: 100vh;
}