.infos-training.missions-plus {
    display: flex;
    margin-bottom: 3vh;
    width: 100vw;
}

.info-all-missions {
    width: 40vw;
    margin-left: 3vw;
    position: relative;
    text-align: justify;
    /* height: 50vh; */
}

.button-box.missions-plus {
    position: absolute;
    bottom: 0%;
    text-align: left;

}